.main {
  display: none;
  flex-direction: column;
  min-height: 100vh;
}

.normal-nav {
  display: none;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  /* background: rgba(0, 0, 0, 0.432); */
}

.nav-left .logo {
  display: flex;
  align-items: center;
  margin-right: 150px;
}

.normal-nav .nav-right {
  width: 100%;
}

.normal-nav .nav-right .menu-items {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  transition: transform 0.3s ease;
}

.nav-right .menu-items li {
  width: calc(100%);
  text-align: left;
  margin-right: 20px;
}

.global-option {
  color: var(--color-2);
  font-family: var(--font-2);
  opacity: 100%;
}

.main-contents {
  margin-top: 60px;
  overflow: hidden;
  height: calc(100vh - 60px);
}

.main-contents .page {
  height: 100%;
  padding: 1%;
  padding-top: 20px;
}

#home {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 0;
  min-height: calc(100vh - 0px);
}

#home .logo {
  font-size: 90px;
  color: var(--color-2);
}

#home .logo i {
  color: var(--shrond-color);
}

.home-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home .description {
  font-size: 14px;
}

#home .home-intro form {
  margin-top: 20px;
}

#home .home-intro .input_field {
  display: flex;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 25px;
  border: 1px solid var(--shrond-color);
}

#home .home-intro form input {
  width: calc(100% + 200px);
}

.page-label {
  font-size: 40px;
  text-align: center;
  z-index: 3;
  color: var(--color-2);
  font-weight: 800;
}

.paragraph {
  text-indent: 40px;
  padding: 10px 0;
  transform: rotate(-20deg) skew(20deg);
  font-size: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.349); */
  z-index: 1;
  height: fit-content;
  transition: 0.5s ease all;
  padding: 10px;
  background: rgba(0, 0, 7, 0.075);
  box-shadow: -25px 20px 10px rgba(0, 0, 0, 0.575),
    -35px 30px 40px rgba(29, 29, 29, 0.575);
}

.paragraph:hover {
  transform: rotate(0) skew(0);
  font-size: 18px;
  z-index: 2;
  box-shadow: none;
}

.input_field input,
.input_field button {
  border: none;
  outline: none;
  color: var(--color-2);
  background: transparent;
  /* padding: 5px; */
}

.home-options-container {
  margin-top: 20px;
  /* background: rgba(79, 79, 211, 0.233); */
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 10px;
  padding: 30px;
}

.home-options {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.home-options a {
  text-align: center;
}

.home-options i {
  font-size: 50px;
  margin-bottom: 5px;
}

#about,
#services,
#works,
#contact {
  /* background: rgba(0, 0, 0, 0.432); */
  overflow-y: scroll;
}

#about .about-contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  height: 100%;
  padding-top: 30px;
}

.about-contents span.paragraph p:first-child {
  /* color: var(--shrond-color); */
  margin-bottom: 10px;
}

/* #about .about-contents .paragraph:first-child {
  position: relative;
  right: -400px;
} */

/* test */
